<div class="d-flex justify-content-center align-items-center" style="height: 100vh;" id="about">
    <div class="container  col-lg-10">

        <header class="section-header mb-5">
            <h3 style="text-align:center; font-size: 3rem;">About Us</h3>
            <p class="mt-5" style="text-align:center; font-style: italic;">Welcome to LoaND, your number one source for
                all things finance.
                We're
                dedicated to giving you the very best of [product], with a focus on
                trust, dedication and perfection
                Founded in 2020 by Kunal Thakur, LoaND has come a long way from its beginnings in a
                humble town. When Kunal first started out,
                his/her passion for creating the project and mostly walking the path alone drove him to do the project,
                some with the help of internet and otherwise on his own, and gave him the impetus to turn hard work and
                inspiration into to a booming online store. We now
                serve customers all over the world, and are thrilled to be a part
                of the quirky, eco-friendly, fair trade wing of the fianance industry.
            </p>

            <p style="text-align:center; font-style: italic;">
                We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or
                comments, please don't hesitate to contact us.
            </p>
            <p style="text-align:center; font-weight: bolder; font-style: italic;">
                Sincerely,
            </p>
            <p style="text-align:center; font-weight: bolder; font-size: 1rem;">
                Raj Thakur, CEO LoaND Private Limited.
            </p>
        </header>

        <div class="row justify-content-around m-0 mt-5 p-0">
            <div class="card bg-dark col-lg-3  mb-1 p-0"
                style="width: 18rem; border-color: white; border-width: 3px; color:white">
                <img src="../../assets/abt2.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center flex-column">
                    <h3 class="card-title" style="text-align:center;">OUR MISSION</h3>
                    <p class="card-text" style="text-align: center;">“We have a mission to be the world’s most respected
                        service brand. To do this,
                        we have established a culture that supports our team members, so they can provide exceptional
                        service to our customers.”</p>
                </div>
            </div>

            <div class="card bg-dark col-lg-3 mb-1 p-2"
                style="width: 18rem; border-color: white; border-width: 3px; color:white">
                <img src="../../assets/abt1.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center flex-column">
                    <h3 class="card-title" style="text-align:center;">OUR PLAN</h3>
                    <p class="card-text" style="text-align: center;">“The creativity lies in doing the same thing in a
                        different way. You have the
                        talent to make it true with your hard work and dedication. Take on any challenge and make it
                        smoother the way you want.”</p>
                </div>
            </div>

            <div class="card bg-dark col-lg-3 mb-1 p-2"
                style="width: 18rem; border-color: white; border-width: 3px; color:white">
                <img src="../../assets/abt3.jpg" class="card-img-top" alt="...">
                <div class="card-body d-flex justify-content-center flex-column">
                    <h3 class="card-title" style="text-align:center;">OUR VISON</h3>
                    <p class="card-text" style="text-align: center;">To achieve sustainable growth, we have established
                        a vision with clear goals:

                        Profit: Maximizing return to share owners while being mindful of our overall responsibilities.

                        People: Being a great place to work where

                    </p>
                </div>
            </div>

        </div>

    </div>
</div><!-- End About Us Section -->