<div class="container-fluid row justify-content-between p-0 m-0 bg-warning" style="width: 100vw; height: 100vh;">
    <div class="col-lg-6  bg-light d-flex justify-content-center align-items-center">
        <div class="">
            <img class="img-fluid" src="../../assets/notfound.jpg">
        </div>
    </div>
    <div class="col-lg-6 bg-dark d-flex justify-content-center align-items-center" style="color: white;">
        <div>
            <h2 style=" font-size: 6rem;">404</h2>
            <h3 style=" font-size: 2rem;">UH OH! Looks like somebody is lost.</h3>
            <p class="mt-3" style=" font-style: italic;">Seems like the page you are looking for has been
                moved, doesn't exists or destroyed.
            </p>
            <p class="" style=" font-style: italic;">
                Just like your sleep schedule.
            </p>
            <a class="btn btn-success btn-lg font-weight-bolder" routerLink="/home/mainPage/">Let's take you HOME</a>
        </div>
    </div>
</div>