.main-cont{
     background-image: url(../../assets/contactsBg.jpg);
      
}


.login-cont{
    background-image: linear-gradient(to right, rgb(92, 20, 18), rgb(0, 94, 182));
    border-radius: 3%;
}