<div id="updatePass-cont" class="container-fluid d-flex justify-content-center align-items-center"
    style="height: 100vh; width: 100vw;">

    <div [formGroup]="updatePass" id="inner-cp-cont"
        class="col-lg-4 d-flex justify-content-center align-items-center flex-column">
        <div class="jumbotron-fluid  mb-3 col-lg-12 col-12 p-3 d-flex justify-content-center align-items-center">
            <h1 class="font-weight-bolder m-4" style="color: white; text-align: center;">UPDATE PASSWORD</h1>
        </div>

        <div id="password-ip" class="form-group col-lg-8 col-12">
            <label for="username" class="form-text" style="font-weight: bolder; color: white;">New Password :</label>
            <input type="password" class="form-control col-12" id="newPassword" placeholder="Enter Password"
                formControlName="newPassword">
        </div>

        <div id="password-ip" class="form-group col-lg-8 col-12">
            <label for="username" class="form-text" style="font-weight: bolder; color: white;">Confirm Password
                :</label>
            <input type="password" class="form-control col-12" id="newConPassword" (blur)=" checkPass()"
                placeholder="Enter Password" formControlName="newConPassword">
        </div>

        <div class="alert alert-danger" *ngIf="isValidPattern" role="alert">
            Passwords invalid Pattern , try again.
        </div>
        <div class="alert alert-danger" *ngIf="isValid" role="alert">
            Passwords don't match , try again.
        </div>

        <div class="alert alert-danger" *ngIf="updateFailed" role="alert">
            Failed to update Password.
        </div>

        <div class="alert alert-success" *ngIf="updateSuccessful" role="alert">
            Password was updated.
        </div>


        <div class="submit-button mt-4 mb-4 col-lg-4 bg-danger ">
            <button class="btn btn-lg btn-success col-12" (click)="updatePassword()">Send</button>
        </div>



    </div>

</div>