#form-cont{
    background-color: rgba(255, 255, 255, 0.5);
}

#page-cont{
    background-image: url(../../assets/websitebg.jpg);
    height: 100vh;
    background-attachment: fixed;
}


.navbar-links  :hover{
    background-color:white;
    border-radius: 10px;
    color: black;
    text-shadow: white;
}


#nav-body{
    background-image: linear-gradient(to right, rgb(92, 20, 18), rgb(0, 94, 182));
}

.nav-link{
    color:white;
}